@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Outfit:wght@500&family=Roboto:wght@300&family=Tourney:wght@100&display=swap') ;


.login_container {
  align-items: center;
  background: linear-gradient(155deg, #003be5 0%, #00d5e2 100%);
  border: 1px solid black;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.form-logo-container {
  align-items: center;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 1px 26px 1px rgba(56, 60, 68, 0.19);
  display: flex;
  flex-wrap: wrap;
  height: 60%;
  justify-content: center;
  position: absolute;
  width: 70%;
}

.image-box {
  text-align: center;
  width: 100%;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-between;
  width: 60%;
}

.input-login, .btn-login {
  border-radius: 20px;
  border-style: none;
  height: 40px;
  width: 400px;
}

.input-login {
  border: 1px solid #003be5;
  color: #003be5;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
  outline: none;
  text-align: center;
}

.btn-login {
  background-color: #003be5;
  border-style: none;
  color: white;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.btn-disabled {
  background-color: #7d97e4;
  border-style: none;
  color: white;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.big-circle-login {
  border: 3px solid #00d5e2;
  border-radius: 50%;
  height: 815px;
  position: absolute;
  right: calc(100% - 407.5px);
  top: calc(100% - 407.5px);
  width: 815px;
}

.small-circle-login {
  background: #003eb5;
  border-radius: 50%;
  filter: blur(35.5px);
  height: 450px;
  left: calc(100% - 500px);
  position: absolute;
  top: 30px;
  width: 450px;
}

.icon-grupo-5-login {
  left: 55px;
  position: absolute;
  top: 30px;
}

.icon-grupo-6-login {
  bottom: 30px;
  position: absolute;
  right: 55px;
}

