@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Outfit:wght@500&family=Roboto:wght@300&family=Tourney:wght@100&display=swap') ;

.loading-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px 1px;
  width: 100%;
}
